<a href="https://colab.research.google.com/github/mrinalini01/2320030309_AIML/blob/main/PROGRAMS/Basic_Python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = """Hi, I'm Mrinalini,
I am a sophmore,
persuing my degree at KLH University."""
print(a)

Hi, I'm Mrinalini,
I am a sophmore,
persuing my degree at KLH University.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

In [1]:
a = "hello world!"
print(a.upper())
print(a.lower())

HELLO WORLD!
hello world!

In [2]:
age = 18
txt = f"My name is Mrinalini, I am {age} years old."
print(txt)

My name is Mrinalini, I am 18 years old.

In [3]:
def myFunction():
  return True

print(myFunction())

True

In [4]:
list = ["apple", "banana", "cherry", "orange"]
print(type(list))

<class 'list'>

In [5]:
del list
mylist = list(("apple", "banana", "cherry", "orange"))
print(mylist)

['apple', 'banana', 'cherry', 'orange']